@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "status-bar.css";
@import "variable.css";
@import "reset.css";
body {
  font-family: "Open Sans", sans-serif;
}

.first-page-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.first-page-header .first-page-header__title {
  font-size: 25px;
  margin-bottom: 40px;
}
.first-page-header .first-page-header__text {
  width: 320px;
  opacity: 0.6;
  margin-bottom: 5px;
}
#Login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#Login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 25px;
}
#Login-form input::placeholder {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.45);
}
#Login-form input:focus {
  border-color: rgba(0, 0, 0, 0.8);
}

#Login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}

#Login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#Login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: small;
}
