#chatting-room-screen::-webkit-scrollbar {
  display: none;
}

#chatting-room-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chatting-room-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#chatting-room-screen .alt-header,
#chatting-room-screen .status-bar {
  background-color: #abc1d1;
}

#chatting-room-screen .status-bar {
  z-index: 2;
}

#chatting-room-screen .alt-header {
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  50% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.time-stamp {
  background-color: #92a4b2;
  padding: 11px;
  border-radius: 20px;
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 10px;
}

.message-row__text {
  display: flex;
  align-items: flex-end;
}

.message-row__name {
  opacity: 0.8;
  font-size: 15px;
}

.message-row__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 5px;
}

.message-row__time {
  font-size: 13px;
  opacity: 0.6;
}

@keyframes message-row---ownFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.message-row---own {
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(50%);
  animation: message-row---ownFadeIn 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

.message-row---own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row---own .message-row__text {
  flex-direction: row-reverse;
}

.reply {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply__column:first-child i {
  margin: 15px 15px;
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column:last-child input {
  width: 98%;
  box-sizing: border-box;
  margin: 5px 5px;
  height: 50px;
  border: var(--border-line);
  border-radius: 30px;
  padding: 10px;
  color: #f8f8f8;
}

.reply__column:last-child button {
  position: absolute;
  right: 8px;
  bottom: 10px;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--yellow);
}

.reply__column:last-child button i {
  opacity: 1;
}

.reply__column button :focus,
.reply__column button :active {
  outline: none;
}

.reply__column:last-child > i {
  position: absolute;
  right: 55px;
  bottom: 15px;
}

.reply .fa-square-plus,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .fa-square-plus,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 99vw;
  transform: translateX(-11%) translateY(-80px);
  transition: all 0.3s ease-in-out;
}

.reply:focus-within {
  transform: translateY(80px);
}
