#chatting-room-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

#chatting-room-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#chatting-room-screen .alt-header,
#chatting-room-screen .status-bar {
  background-color: #abc1d1;
}

#chatting-room-screen .status-bar {
  z-index: 2;
}

#chatting-room-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-stamp {
  background-color: #92a4b2;
  padding: 11px;
  border-radius: 20px;
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 10px;
}

.message-row__text {
  display: flex;
  align-items: flex-end;
}

.message-row__name {
  opacity: 0.8;
  font-size: 15px;
}

.message-row__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 5px;
}

.message-row__time {
  font-size: 13px;
  opacity: 0.6;
}

.message-row---own {
  justify-content: flex-end;
}

.message-row---own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row---own .message-row__text {
  flex-direction: row-reverse;
}

.reply {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.reply i {
  opacity: 0.5;
}

.reply__column:first-child i {
  margin: 15px 15px;
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column:last-child input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 5px;
  height: 50px;
  border: var(--border-line);
  border-radius: 30px;
  padding: 10px;
  color: #f8f8f8;
}

.reply__column:last-child button {
  position: absolute;
  right: -2px;
  bottom: 10px;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--yellow);
}

.reply__column:last-child button i {
  opacity: 1;
}

.reply__column button :focus,
.reply__column button :active {
  outline: none;
}

.reply__column:last-child > i {
  position: absolute;
  right: 55px;
  bottom: 15px;
}
